<div class="jumbotron">
<h2>Thank you for your order!</h2>
<p><strong>Your order will be shipping to you in 4 to 90 weeks(What did you expect we are called SecondBest Buy for a reason). Email confirmation sent to  <%= @order.user.email %>!</strong></p>
</div>