<div class="jumbotron">
<h2>Welcome to SecondBest Buy</h2>
	<% if @category.name == "Other" %>
	<p><%= @category.name %> Products</p>
	<% else %>
<p>All of our <%= @category.name %>
	<% end %>
</p>
</div>

<%= render 'products_partial' %>