
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.ilb {
	display: inline-block;
}

body {
	font-family : 'Work Sans', sans-serif;
}

nav.navbar {
	background-color : rgb(5, 60, 98);
	

	a.navbar-brand{
		color : rgb(255, 255, 255);
	}

	a.navbar-brand:hover{
		color : white;
	}

	a.dropdown-toggle {
		color : rgb(255, 255, 255);
	}

	a.dropdown-toggle:hover {
		color           : white;
		text-decoration : underline;
	}

	ul.navbar-nav {
		a {
			color : rgb(255, 255, 255);
		}
	}

	ul.navbar-nav {
		a:hover {
			color : rgb(255, 255, 255);
		}
	}

	ul.dropdown-menu {
		a {
			color : black;
		}
	}

	ul.dropdown-menu {
		a:hover {
			color : black;
		}
	}
}

div.well {
	background-color : white;
}

div.jumbotron {
	background-color : rgb(5, 60, 98);

	h2 {
		color : white;
	}
	p {
		color : white;
	}
}